.form {
  background: var(--primary-background-color);
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  width: 100%;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.form__container {
  position: relative;
}

.form__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;

  margin-top: -0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.1rem solid var(--secondary-text-color);
  border-radius: 100%;
}

.form__input {
  appearance: none;
  border: 0;

  display: block;
  width: 100%;
  padding-left: 5rem;

  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--primary-text-color);
  line-height: 1;
  background: transparent;
}

.form__input:focus {
  outline: none;
}

@media (max-width: 375px) {
  .form {
    padding: calc(2rem * 0.65) calc(3rem * 0.65);
  }
  .form__circle {
    width: calc(3rem * 0.65);
    height: calc(3rem * 0.65);
    margin-top: -0.15rem;
  }
  .form__input {
    padding-left: calc(5rem * 0.65);
    font-size: 1.5rem;
  }
}
