.todo {
  padding: 2rem 3rem;
  border-bottom: 1px solid var(--tertiary-text-color);
  color: var(--primary-text-color);
}

.todo__container {
  display: flex;
  align-items: center;
}

.todo__checkbox {
  background: transparent;

  align-items: center;
  border: 0.1rem solid var(--secondary-text-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}

.todo__checkbox:focus {
  outline: none;
}

.todo__checkbox > .checkbox__icon {
  display: none;
}

.todo__checkbox.todo__checkbox--completed {
  background: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todo__checkbox.todo__checkbox--completed > .checkbox__icon {
  display: block;
}

.checkbox__icon {
  color: var(--primary-text-color);
  width: 2rem;
  height: 2rem;
}

.todo__text.todo__text--completed {
  text-decoration: line-through;
  color: var(--secondary-text-color);
}

.todo__remove {
  appearance: none;
  border: none;
  background: transparent;
  margin-left: auto;
  padding: 0;
}

.remove__icon {
  color: var(--secondary-text-color);
  height: 2.5rem;
  width: 2.5rem;
}

@media (max-width: 375px) {
  .todo {
    padding: calc(2rem * 0.65) calc(3rem * 0.65);
  }
  .todo__checkbox {
    width: 2.5rem;
    height: 2.5rem;
  }
  .remove__icon {
    height: calc(2.5rem * 0.65);
    width: calc(2.5rem * 0.65);
  }
}
