.header {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--background-imagen-desktop);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 30rem;
  width: 100%;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60rem;
  margin-top: -10rem;
}

.header__title {
  color: var(--heading-color);
  font-size: 5rem;
  letter-spacing: 1.5rem;
}

.header__icon {
  color: var(--heading-color);
  height: 4rem;
  width: 4rem;
}
