.todos__container {
  background: var(--primary-background-color);
  border-radius: 1rem;
  width: 100%;
  margin-top: 2rem;
}

.todos__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todos__footer {
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos__footer p {
  color: var(--secondary-text-color);
  transition: all ease-in-out 0.3s;
}

.todos__footer > p:hover:not(:first-child),
.todos__footer > div p:hover {
  color: var(--primary-text-color);
  cursor: pointer;
}

.todos__filter {
  display: flex;
  align-items: center;
}

.todos__filter > .active {
  font-weight: bold;
  color: var(--primary-color);
}

.todos__filter p:not(:last-child) {
  margin-right: 1rem;
}
